







#slider-wrapper {
    position: relative;
    width: 1400px;
    height: 1200px;
    overflow: hidden;
}

.img-bir,
.img-iki,
.img-uc,
{
position: absolute;
width: 900px;
height: 900px;
}

.img-bir {
    left: 0px;
}

.img-iki {
    left: 700px;
}


#slider-wrapper>.slider {
    position: absolute;
    left: 0px;
    width: 3000px;
    height: 800px;
    -webkit-animation-duration: 15s;
    -webkit-animation-name: sliders;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 15s;
    -moz-animation-name: sliders;
    -moz-animation-iteration-count: infinite;
    -ms-animation-duration: 15s;
    -ms-animation-name: sliders;
    -ms-animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}


#slider-wrapper>.slider>a>span {
   
    background: #333;
    color: white;
    left: 0;
    top: 80%;
    padding: 8px 22px;
    display: table;
}

#slider-wrapper a {
    font-size: 18px;
    font-family: Arial;
}

@-webkit-keyframes sliders {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -700px;
    }

    30% {
        left: -700px;
    }


}

@-moz-keyframes sliders {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: -700px;
    }

    30% {
        left: -700px;
    }

}